<% include ../partials/header%>
    <div class="container">
        <div class="row">

            <h1 style="text-align:center">Upload a new photo</h1>
            <div style="width:30%;margin:25px auto;">

            <!-- Change the action url-->
                <form action="/photos" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="Enter image url">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default btn-block btn-primary" type="submit" value="Submit">
                    </div>
                </form>
             <!-- Change the href url-->   
                <a href="/photos"+<%=currentUser._id%>>Go Back</a>
            </div>
        </div>
    </div>
<% include ../partials/footer%>